.btn__top{
    color: var(--primary-color);
}

.btn__right{
    color: var(--accent-color);
}

.btn__num{
    color: var(--dark-color);
}

.btn__right:hover{
    background-color: #fcf7f7;
}

.btn__mood:hover{
    background: transparent;
}

.btn__clearall:hover{
    background: transparent;
}