.calculator__Wrapper{
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

.buttons__Wrapper{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.display__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40px;
    padding-bottom: 20px;
}

.desplay{
    background-color: ghostwhite;
}

.desplay--Night{
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.keypad__wrapper{
    background-color: white;
}

.keyboard--Night{
    background-color: var(--dark-color);
}